<!-- banner -->
<section class="banner">
  <article class="left banner-container"></article>
  <aside class="right banner-aside">
    <strong>Olá, sou um banner!</strong>
  </aside>
</section>
<!-- fim banner -->

<!-- trends(principais aparições) -->
<section class="trends box">
  <section class="left">
    <div>
      <header>
        <h2>Selecionados</h2>
      </header>
      <article></article>
    </div>

    <div>
      <header>
        <h2>Acabando</h2>
      </header>
    </div>

    <div>
      <header>
        <h2>Novos</h2>
      </header>
    </div>
  </section>
  <!-- fim trends -->

  <!-- Social -->
  <aside class="right">
    <div class="social">
      <header>
        <h3>Facebook</h3>
      </header>
    </div>

    <div class="social">
      <header>
        <h3>Twitter</h3>
      </header>
    </div>
    <div class="newsletter">
      <header>
        <h3></h3>
      </header>
    </div>
  </aside>
  <!-- Fim social -->
</section>

<!-- Area do Parceito -->
<section class="partners box">
  <header>
    <h3>Parceiros</h3>
  </header>
</section>
