<!-- gallery -->
<div class="gallery responsive">
  <div class="mask">
    <ul class="slideset">
      <% @projects_in_home.each do |project| %>
        <li class="slide" data-transition="slidedown" data-slotamount="10" data-masterspeed="300" data-thumb="/assets/img-1-small.jpg">
          <%= image_tag(project.image_url.thumb.url) if project.image_url %>
          <div class="caption text-box lfl lfl" data-x="-91" data-y="140" data-speed="300" data-start="800" data-easing="easeOutExpo">
            <h1><span><%= project.headline %></span></h1>
            <a class="more" href="articles.html">READ MORE</a>
            <div style="" class="tp-leftarrow tparrows default"></div>
            <div style="" class="tp-rightarrow tparrows default"></div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<!-- fim banner -->

<!-- trends(principais aparições) -->
<div class="container_content">
  <!-- widget-blocks -->
  <div class="widget-blocks">
    <!-- block -->
    <div class="block">
      <div class="holder">
        <!-- title-box -->
        <header class="title-box">
          <h2>Selecionados</h2>
        </header>
        <article class="clearfix">
          <%= render 'destaques'%>
        </article>
      </div>
    </div>
    <div class="block">
      <div class="holder">
        <!-- title-box -->
        <header class="title-box">
          <h2>Acabando</h2>
        </header>
        <article class="clearfix">
          <%= render 'projetos_quase_acabando' %>
        </article>
      </div>
    </div>
  </div>
</div>
<!-- fim trends -->

  <!-- Social -->
  <!--<aside class="five columns">
    <div class="social">
      <header class="wrapper-title">
        <h3 class="main-title">Facebook</h3>
      </header>
    </div>

    <div class="social">
      <header class="wrapper-title">
        <h3 class="main-title">Twitter</h3>
      </header>
    </div>
    <div class="newsletter">
      <header>
        <h3></h3>
      </header>
    </div>
  </aside>-->
  <!-- Fim social -->
</section>

<!-- Area do Parceito
<section class="partners box">
  <header class="left wrapper-title">
    <h3 class="main-title">Parceiros</h3>
  </header>
  <article class="clearfix">

  </article>
</section>-->
<script type="text/javascript">
    $(function(){

      $('.slider').mobilyslider({
        content: '.sliderContent',
        children: 'div',
        transition: 'fade',
        animationSpeed: 500,
        autoplay: true,
        autoplaySpeed: 5000,
        pauseOnHover: true,
        bullets: false,
        arrows: true,
        animationStart: function(){},
        animationComplete: function(){}
      });
    });
  </script>