<!-- banner -->
<section class="banner">
  <article class="left banner-container"></article>
  <aside class="right banner-aside">
    <strong>Olá, sou um banner!</strong>
  </aside>
</section>
<!-- fim banner -->

<!-- trends(principais aparições) -->
<section class="trends box">
  <section class="eleven columns">
    <div class="content-area">
      <header class="left wrapper-title">
        <h3 class="main-title">Selecionados</h3>
      </header>
      <article class="clearfix">
        <%= render 'destaques'%>
      </article>
    </div>
    <div class="content-area">
      <header class="left wrapper-title">
        <h3 class="main-title">Acabando</h3>
      </header>
      <article class="clearfix">
        <%= render 'projetos_quase_acabando' %>
      </article>
    </div>

    <div class="content-area">
      <header class="left wrapper-title">
        <h3 class="main-title">Novos</h3>
      </header>
      <article class="clearfix">

      </article>
    </div>
  </section>
  <!-- fim trends -->

  <!-- Social -->
  <aside class="five columns">
    <div class="social">
      <header class="wrapper-title">
        <h3 class="main-title">Facebook</h3>
      </header>
    </div>

    <div class="social">
      <header class="wrapper-title">
        <h3 class="main-title">Twitter</h3>
      </header>
    </div>
    <div class="newsletter">
      <header>
        <h3></h3>
      </header>
    </div>
  </aside>
  <!-- Fim social -->
</section>

<!-- Area do Parceito -->
<section class="partners box">
  <header class="left wrapper-title">
    <h3 class="main-title">Parceiros</h3>
  </header>
  <article class="clearfix">

  </article>
</section>
