<!-- gallery -->
<div class="gallery responsive">
  <div class="mask">
    <ul class="slideset">
      <% @projects_in_home.each do |project| %>
        <li class="slide" data-transition="slidedown" data-slotamount="10" data-masterspeed="300" data-thumb="/assets/img-1-small.jpg">
          <%= image_tag(project.image_url.thumb.url) if project.image_url %>
          <div class="caption text-box lfl lfl" data-x="-91" data-y="140" data-speed="300" data-start="800" data-easing="easeOutExpo">
            <h1><span><%= project.headline %></span></h1>
            <a class="more" href="articles.html">READ MORE</a>
            <div style="" class="tp-leftarrow tparrows default"></div>
            <div style="" class="tp-rightarrow tparrows default"></div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<!-- fim banner -->

<!-- trends(principais aparições) -->
<div class="container_content">
  <!-- widget-blocks -->
  <div class="widget-blocks">
    <!-- block -->
    <div class="block">
      <div class="holder">
        <!-- title-box -->
        <header class="title-box">
          <h2>Selecionados</h2>
        </header>
        <div class="album-box player-holder">
          <%= render 'destaques'%>
        </div>
      </div>
    </div>
    <div class="block">
      <div class="holder">
        <!-- title-box -->
        <header class="title-box">
          <h2>Acabando</h2>
        </header>
        <div class="album-box player-holder">
          <%= render 'projetos_novos' %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- section -->
  <section class="section">
    <!-- heading -->
    <header class="heading">
      <h1>NEWS</h1>
      <a class="link" href="articles-home.html">All News</a>
    </header>
    <!-- carousel responsive1 -->
    <div class="carousel responsive1">
      <div class="mask">
        <!-- slideset -->
        <div class="slideset">
          <!-- slide -->
          <div class="slide">
            <a href="articles.html">
              <img src="images/img-3.jpg" width="326" height="183" alt="image description">
              <div class="text">
                <h2>WE WILL BE OPENING FOR BAND OF HORSES NEXT WEEK</h2>
                <time class="date" datetime="2012-05-27">MAY 27TH, 2012</time>
                <span class="more">More</span>
              </div>
            </a>
          </div>
          <!-- slide -->
          <div class="slide">
            <a href="articles.html">
              <img src="images/img-4.jpg" width="326" height="183" alt="image description">
              <div class="text">
                <h2>NEW CANADIAN TOUR DATES TO BE ANNOUCED</h2>
                <time class="date" datetime="2012-04-07">APRIL 7TH, 2012</time>
                <span class="more">More</span>
              </div>
            </a>
          </div>
          <!-- slide -->
          <div class="slide">
            <a href="articles.html">
              <img src="images/img-5.jpg" width="326" height="183" alt="image description">
              <div class="text">
                <h2>WATCH OUR PERFORMANCE AT THE MUSIC AWARD</h2>
                <time class="date" datetime="2012-05-27">MAY 27TH, 2012</time>
                <span class="more">More</span>
              </div>
            </a>
          </div>
          <!-- slide -->
          <div class="slide">
            <a href="articles.html">
              <img src="images/img-3.jpg" width="326" height="183" alt="image description">
              <div class="text">
                <h2>WE WILL BE OPENING FOR BAND OF HORSES NEXT WEEK</h2>
                <time class="date" datetime="2012-05-27">MAY 27TH, 2012</time>
                <span class="more">More</span>
              </div>
            </a>
          </div>
          <!-- slide -->
          <div class="slide">
            <a href="articles.html">
              <img src="images/img-4.jpg" width="326" height="183" alt="image description">
              <div class="text">
                <h2>NEW CANADIAN TOUR DATES TO BE ANNOUCED</h2>
                <time class="date" datetime="2012-04-07">APRIL 7TH, 2012</time>
                <span class="more">More</span>
              </div>
            </a>
          </div>
          <!-- slide -->
          <div class="slide">
            <a href="articles.html">
              <img src="images/img-5.jpg" width="326" height="183" alt="image description">
              <div class="text">
                <h2>WATCH OUR PERFORMANCE AT THE MUSIC AWARD</h2>
                <time class="date" datetime="2012-05-27">MAY 27TH, 2012</time>
                <span class="more">More</span>
              </div>
            </a>
          </div>
        </div>
      </div>
      <a class="btn-prev" href="#">Previous</a>
      <a class="btn-next" href="#">Next</a>
    </div>
  </section>
  <!-- section -->
</section>

<!-- Area do Parceito
<section class="partners box">
  <header class="left wrapper-title">
    <h3 class="main-title">Parceiros</h3>
  </header>
  <article class="clearfix">

  </article>
</section>-->
<script type="text/javascript">
    $(function(){

      $('.slider').mobilyslider({
        content: '.sliderContent',
        children: 'div',
        transition: 'fade',
        animationSpeed: 500,
        autoplay: true,
        autoplaySpeed: 5000,
        pauseOnHover: true,
        bullets: false,
        arrows: true,
        animationStart: function(){},
        animationComplete: function(){}
      });
    });
  </script>