<div class="container_content">
  <section class="section">
        <!-- heading -->
    <header class="heading">
      <h1>Explorar</h1>
    </header>
    <%= render 'projects/project' %>
  </section>
</div>