<h1>Novo projeto</h1>
  <%= render 'form' %>
<section class="box four columns">
  <ul><strong>Guidelines</strong>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, eligendi, architecto, dolor iste quos cum cupiditate omnis sed autem atque quis sunt.</li>
    <li>Esse, dolorem, maxime, ad magnam illum nemo qui animi officia nisi consectetur similique dolore facilis ratione reiciendis eos molestias enim maiores quos unde provident velit error ipsam obcaecati sed natus.</li>
    <li>Exercitationem, quae, eveniet quo aliquid natus in ea soluta totam dignissimos molestiae dicta pariatur nam reiciendis ex fugiat eos voluptatem eius debitis!</li>
  </ul>
</section>