/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.row{
  max-width: 1024px!important;
}
.clearfix{
  clear:both;
}
.right{
  float: right;
}
.left{
  float:left;
}
.navbar .logo{
  font-size: 30px;
  padding-left: 56px;
  text-shadow: 1px 1px 3px #252525;
  color: white;
}

.icons{
  background: url("/assets/glyphicons-halflings.png");
  width:16px;
  height:15px;
  display: block;
}
.heart{
  background-position: -96px 0px;
}
.location{
  background-position: -23px -70px;
  float: left;
}
.project_location span{
  float: left;
}
#projects{
  display:table;
}