// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#projects{
  #buttons{
    margin-top: 15px;
  }
}
form{
  .field{
    .text, .textarea{
      width:90%
    }
  }
}
.box{
  background-color: #f5f5f5;
  border-radius:4px;
  box-shadow: 3px 1px 2px #f0f0f0;
  padding: 20px;
}
.status_bar{
  background-color: white;
  width: 202px;
  height: 10px;
  overflow: hidden;
  border: 1px $minimal_gryn solid;
  +border-radius(5px);
  .progress{
    +border-radius(4px);
    background-color: $green;
    height: 10px;
    overflow: hidden;
  }
}
.info_bar{
  background: $dc_gryn;
  float: left;
  width: 210px;
  padding: 5px 5px 10px;
}