// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #4383d1;
$minimal_blue: #6498D8;

$green: #59aF6d;
$dark_green: #284f31;
$light_green: #64CB64;

$pink: #E75297;

$orange: #f69b0e;

$grafiti: #363636;
$media_grafiti: #909090;

$minimal_white: #f2f2f2;

$ed_gryn: #EDEDED;
$dc_gryn: #DCDCDC;
$df_gryn: #dfdfdf;
$ultra_gryn: #333333;
$gryn_almost_ccc: #999;
$gryn: #e3e2dc;
$minimal_gryn: #cccccc;
$super_minimal_gryn: #838383;
$bg_minimal_gryn: #E3E2DC;
$shadow_gryn: #7A7A7A;
$_6f_gryn: #6F6F6F;
$_4d_gryn: #4D535D;

$red: #cc1529;
#projects{
  #buttons{
    margin-top: 15px;
  }
  .project{
    .wrap-span{
          display:block;
          min-height: 110px;
        }
  }

  span{
    color:$media_grafiti;
    font-size:13px
  }
  i{
    margin-top: 3px;
    display: block;
    width: 16px;
    height: 16px;
    float: left;
  }
}
form{
  .field{
    .text, .textarea{
      width:90%
    }
  }
}
.box{
  background-color: #f5f5f5;
  border-radius:4px;
  box-shadow: 3px 1px 2px #f0f0f0;
  padding: 20px;
}
.box-inset{
  background-color: #e5e5e5;
  border-radius:4px;
  box-shadow: 1px 1px 9px #D0D0D0 inset;
  padding: 20px;
}
.status_bar{
  background-color: white;
  width: 220px;
  height: 10px;
  overflow: hidden;
  border: 1px $minimal_gryn solid;
  border-radius:5px;
  .progress{
    border-radius:4px;
    background-color: $green;
    height: 10px;
    overflow: hidden;
  }
}
.project-title{
  line-height: 0.8;
}
.project-owner{
  font-size: 0.8em;
}
.info_bar{
  margin:0 auto;
  width: 225px;
  padding: 5px 5px 10px;
  .more .box{
    margin:10px 5px;
    padding:5px;
    span{
      text-align:center;
    }
  }
}
.soundcloud{
  width:50px;
  height:50px;
  background:orange;
}