<div class="container_content">
  <!-- footer -->
  <footer id="footer">
    <!-- footer-block -->
    <div class="footer-block">
      <strong class="footer-logo"><a href="index.html">musicstart.me</a></strong>
      <!-- links-box -->
      <div class="links-box">
        <!-- button-box -->
        <div class="button-box">
          <a href="#"><img src="/assets/btn-like.png" width="64" height="26" alt="image description"></a>
        </div>
        <!-- facebook-box -->
        <div class="facebook-box">
          <div id="fb-likebox" data-pageurl="http://www.facebook.com/hue42developers" data-appid=""></div>
        </div>
        <!-- social-networks -->
        <ul class="social-networks">
          <li><a class="facebook" href="#">Facebook</a></li>
          <li><a class="twitter" href="#">Twitter</a></li>
        </ul>
      </div>
    </div>
    <!-- subscribe-block -->
    <div class="subscribe-block">
      <form action="#">
        <fieldset>
          <label for="email">Subscribe to our <strong>newsletter</strong></label>
          <div class="box">
            <input type="email" name="email" placeholder="Yourname@email.com">
            <input type="submit" value="SUBSCRIBE">
            <p class="status"></p>
          </div>
        </fieldset>
      </form>
    </div>
    <!-- footer-row -->
    <div class="footer-row">
      <a href="#"><img src="/assets/footer-logo-2.png" width="39" height="53" alt="image description"></a>
      <div class="text-box">
        <ul>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
        <div class="text">
          <p>Copyright &copy; 2012  Iron Templates<br> All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>
</div>