<footer class="footer row">
  <section class="four columns">
    <header>
      <h4>Informações Úteis</h4>
    </header>
  </section>
  <section class="five columns"></section>
  <section class="three columns"></section>
</footer>
<p>&copy; Company 2012</p>